<h1>Instagram App </h1>
      <tr>
        <td><%= @post.caption %></td>
         <td><%= link_to image_tag(@post.image.url, class: 'media-object', size: "300x300"), @post.image.url, target: '_blank' %></td>
         <td><%= button_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
